.example-spacer {
    flex: 1 1 auto;
  }

  .btn-login, .btn-register{ 
    margin: 3px;   
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
}
.btn-login:hover{
    background-color: var(--primary-color);
    color: aliceblue;
    transition: 6ms;
    


}
.btn-register:hover{
    background-color: var(--primary-color);
    color: aliceblue;
    transition: 6ms;

}
span{
    cursor: pointer;
}

.tool{
    font-size: medium; 

}
.user{
   
    font-size: 14px;
}
  