.image-container {
    position: relative;
    
  }
.image{
    opacity: 0.9; /* Adjust the opacity value between 0 and 1 */
    filter: brightness(70%);
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.card{
    padding: 40px;
}

.mb5{
    margin-bottom: 20px;
}

.mt10{
    margin-top: 20px;
}
.button-white {
    color: white !important;
  }
  
  