
.quizs {
    margin-top: 10px;
 }


.row{
    padding-left: 2px;
}



.ml20{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.full{
    width: 100%;
}
.bigger-icon {
    font-size: 20px !important;
  }


