<div mat-subheader class="header-container">
     All the Quiz 
     <button  routerLink="/admin/add-quiz"  class="btn" mat-raised-button>Add new Quiz</button>   
</div>

<mat-card class="quizs" *ngFor="let quiz of quizs">
    <mat-card-header >
        <div>
                <mat-card-title >
                    <div mat-line>{{quiz.name}}</div>
                </mat-card-title>
             
            <mat-card-subtitle>
                <div mat-line>{{quiz.topic.name}}</div>
            </mat-card-subtitle>
        
            <button mat-flat-button class="btn2 ml20" (click)="getQuestions(quiz.id)">Questions {{quiz.nbQuestions}}</button>
            <button mat-stroked-button (click)="getQuizById(quiz.id)" class="ml20">Update</button>
            <button mat-stroked-button class="ml20">Attempts</button>
            <button mat-button class="ml20" color="warn" (click)="confirmDelete(quiz.id)">
                <mat-icon class="bigger-icon">delete</mat-icon>
            </button>
        
        </div>
    </mat-card-header>
</mat-card>


